@mixin font-size {
  html {
    font-size: $font-size;
    font-family: myFont;
    font-weight: 600;
  }
}

// RWD請套用 @include rwd(for誰)，例如我現在要寫平板，就 @include rwd(medium) { ... }
// medium（max-width: 1200px）、small（max-width: 768px）
@mixin rwd($breakpoint) {
  @if $breakpoint==large {
    @media all and (max-width: $large) {
      @content;
    }
  } @else if $breakpoint== medium {
    @media all and (max-width: $medium) {
      @content;
    }
  } @else if $breakpoint== small {
    @media all and (max-width: $small) {
      @content;
    }
  } @else if $breakpoint== mobile {
    @media all and (max-width: $mobile) {
      @content;
    }
  }
}

// 請使用 rem 來套用文字大小
@include font-size();


//scrollbar css
@mixin scrollbar {
  &::-webkit-scrollbar {
      width: 5px;
      border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
      background: #021A71;
      @content;
  }
}