.EncyMainContent {
  margin: 0 auto;
  color: $contentColor;
  display: inline-block;
  font-size: $contentSize;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  justify-content: center;
  position: fixed;
  left: 25%;

  padding-bottom: 80px;
  overflow: scroll;
  scroll-behavior: smooth;
  // margin-right: 4%;
  // border: 1px solid red;

  .editEncy {
    background: $btnBgcolor;
    color: $btnColor;
    border-radius: $btnRadius;
    border: hidden;
    width: auto;
    height: 30px;
    margin-bottom: 30px;
    transition: ease-in-out .3s;

    a {
      text-decoration: none;
      color: $title3Color;
    }

    &:hover {
      position: relative;
      top: .08rem;
      left: .08rem;
      background: $btnBgHcolor;
    }

  }

  .EncytableSection {
    // margin-top: 95px;
    // height: 80%;

    .enct-header {
      display: flex;
      background: $formTtlBg;
      width: 810px;
    }

    .enct-content {
      display: flex;
      background-color: #fff;
      height: 80%;
      width: 810px;
      //overflow-x: auto;
      //margin-top: 0px;
    }

    th, td {
      width: 180px;
      padding: 15px 0px;
      text-align: center;
      color: $contentColor;
      box-sizing: border-box;

      &:first-child,
      &:nth-child(3) {
        width: 70px;
      }

      &:nth-child(4) {
        width: 400px;
      }

      &:last-child {
        width: 90px;
      }
    }

    td {
      .editImg {
        width: 15px;
        transition: opacity ease-in-out .3s;
        // position: relative; // absolute

        &:last-child:hover {
          position: relative;
          top: .08rem;
          left: .08rem;
          opacity: 0.6;
        }


      }
    }

  }
}