.encyEdit {
    margin: 0 auto;
    color: $contentColor;
    display: inline-block;
    font-size: $contentSize;
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    justify-content: center;
    position: fixed;
    left: 25%;
    overflow-y: auto;
    // border: 1px solid red;

    .encyEditTab {
        display: inline-block;
        // width: 900px;
        height: auto;
        margin-bottom: 70px;

        th {
            width: 15%;
            padding: 20px 20px;
            text-align: center;
            color: $contentColor;
            background: $formTtlBg;
            font-size: $title2Size;
            vertical-align: middle;
        }

        td {
            width: 600px;
            padding: 20px;
            padding-left: 30px;
            text-align: left;
            vertical-align: middle;
            color: $contentColor;
            background-color: #fff;
            // border: 1px solid green;

            .encyEditBtnSec {
                display: inline-block;
                margin-left: 71%;
                padding-bottom: 20px;

                #encyEditCancel,
                #ecnyEditSubmit {
                    color: $btnColor;
                    border-radius: $btnRadius;
                    width: 60px;
                    height: 25px;
                    border: hidden;
                    transition: ease-in-out .3s;

                    &:hover {
                        background-color: $attention;
                 
                    }
                }

                #encyEditCancel {
                    background-color: $btnBgHcolor;
                    margin: 0px 5px;
                }

                #ecnyEditSubmit {
                    background-color: $btnBgcolor;
                    margin: 0px 5px;
                }

            }

            #encyIntro, #encyQ, #encyA, #videoLink {
                resize: none;
                font-size: $contentSize;
                font-family: myFont;
                width: 90%;
                border: 1px solid #888;
            }
            #videoLink {
                height: 14px;
                overflow: hidden;
                padding: 5px;
                line-height: 1em;
            }
            #encyIntro {
                height: 200px;
                overflow-y: auto;
                // letter-spacing: 1px;
                padding: 10px;
            }

            #encyQ {
                height: 30px;
                overflow-y: auto;
                padding: 10px;
            }
            
            #encyA{
                height: 50px;
                overflow-y: auto;
                padding: 10px;
            }

        }

        #encyTag {
            border-radius: 25px;
            background-color: $tagBGcolor;
            margin: 3px;
            border: hidden;
            transition: ease-in-out;
            transition-duration: .3s;

            &:hover {
                background-color: #666;
                color: $btnColor;

            }
        }
        
    }


}