$btnBgcolor: #62b45a;
$btnBgHcolor: #FFA978;
$btnColor: #fbf8ef;
$btnRadius: 5px;
$tagBGcolor: #E2E2E2;

div.FarmBlog {
  display: block;
  color: #007552;
  background-color: #fbf8ef;
  width: calc(100% - 250px);

  float: right;
  box-sizing: border-box;
  padding: 60px 40px;

  @include rwd(medium) {
    width: 100%;
  }

  @include rwd(small) {
    float: none;
    width: 100%;
    padding: 10% 5%;
  }

  .FarmBlog_head {
    color: #f7c845;
    font-size: 3rem;
  }

  .plusbutton {
    display: block;
    padding: 10px 0;

    >.plus {
      display: inline-block;
      border: 1px solid #007552;
      background-color: #007552;
      border-radius: 5px;
      text-align: center;
      padding: 10px;
      margin-top: 50px;
      color: white;

      @include rwd(mobile) {
        margin-top: 20px;
      }

      >a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .FarmBlog_bottom {
    display: block;
    text-align: center;
    width: 100%;

    @include rwd(medium) {
      padding-top: 10%;
    }

    @include rwd(small) {
      padding-top: 0%;
    }

    >.list_1 {
      width: 100%;

      .bottomheader {
        margin-top: 50px;
        width: 100%;

        @include rwd(mobile) {
          margin-top: 20px;
        }
      }

      .blogTab {
        width: 100%;

        .statusBtn[type='checkbox'] {
          height: 0;
          width: 0;
          visibility: hidden;
        }

        .statusBtnLabel {
          cursor: pointer;
          text-indent: -9999px;
          width: 35px;
          height: 19px;
          background: rgb(161, 161, 161);
          display: block;
          border-radius: 100px;
          position: relative;
          top: -6px;
          left: 52px;
        }

        .statusBtnLabel:after {
          content: '';
          position: absolute;
          top: 1.5px;
          left: 2px;
          width: 15px;
          height: 15px;
          background: #fff;
          border-radius: 90px;
          transition: 0.3s;
        }

        .statusBtn:checked+.statusBtnLabel {
          background: $btnBgcolor;
        }

        .statusBtn:checked+.statusBtnLabel:after {
          left: calc(100% - 2px);
          transform: translateX(-100%);
        }

        .statusBtnLabel:active:after {
          width: 20px;
        }
      }

      th {
        background: #f7c845;
        width: 20%;
        padding: 15px 0;
        text-align: center;
        color: #333;

        @include rwd(mobile) {
          font-size: 1.4rem;
        }
      }

      td {
        background-color: white;
        width: 20%;
        padding: 15px 0;
        text-align: center;
        word-wrap: break-word;

        @include rwd(mobile) {
          font-size: 1.3rem;
        }
      }

      tr {
        .statusBtn[type='checkbox'] {
          height: 0;
          width: 0;
          visibility: hidden;
        }

        .statuslable {
          cursor: pointer;
          text-indent: -9999px;
          width: 35px;
          height: 19px;
          background: rgb(161, 161, 161);
          display: block;
          border-radius: 100px;
          position: relative;
          bottom: 10px;
          left: 143px;
        }

        .after {
          content: '';
          position: absolute;
          top: 1.5px;
          left: 2px;
          width: 15px;
          height: 15px;
          background: #fff;
          border-radius: 90px;
          transition: 0.3s;
        }

        .color {
          background: #62b45a;
        }

        .scrol {
          left: calc(100% - 2px);
          transform: translateX(-100%);
        }

        .statusBtnLabel:active:after {
          width: 20px;
        }
      }
    }
  }
}

// div.Order>.Order_bottom>.Orderlist>.list_1>span.triangle{
//     display: inline-block;
//     // border: 10px solid red;
//     border-left: 50px solid blue transparent;
//     border-right: 50px solid red transparent;
//     border-top: 50px solid #007552;
//     border-bottom: 0px solid black;
//     width: 0px;
//     height: 0px;
// }

/* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
/* 留意: 將最後一個 li 裡的 a，加上圓角 */

/* 留意: 將第一個 li 裡的 a，加上圓角 */