div.farminfo {
  display: block;
  color: #666;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  box-sizing: border-box;
  padding: 60px 40px;
  float: right;

  @include rwd(medium) {
    float: right;
    width: 100%;
  }

  @include rwd(small) {
    width: 100vw;
    padding: 10% 5%;
  }

  .farminfo_head_text {
    color: #f7c845;
    font-size: 3rem;
  }

  .farminfo_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;

    @include rwd(medium) {
      display: block;
      width: 100%;
      padding-top: 10%;
    }

    >.bottom_form {
      display: inline-block;
      width: 490px;
      border: 1px solid #666;

      @include rwd(small) {
        width: 287px;
      }

      >.person_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        width: 150px;
        height: 650px;
        padding-top: 50px;
        line-height: 2;

        @include rwd(medium) {
          width: 30%;
          height: 580px;
        }

        >ul {
          >li {
            font-size: 1.8rem;
            color: #666;
            line-height: 3.3;

            @include rwd(medium) {
              font-size: 1.4rem;
              line-height: 3.5;
            }
          }
        }
      }

      >.person_right {
        display: inline-block;
        text-align: start;
        background-color: white;
        box-sizing: border-box;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        height: 700px;
        line-height: 3.3;

        @include rwd(medium) {
          width: 70%;
          height: 630px;
          line-height: 3.5;
          padding-left: 10px;
          padding-right: 10px;
        }

        >ul {

          >li {

            font-size: 1.8rem;

            @include rwd(medium) {
              font-size: 1.4rem;
            }
          }
        }

        >p {
          overflow: hidden;
          padding: 0;

          @include rwd(medium) {
            font-size: 1.4rem;
          }
        }

        p.content_seller {
          word-break: break-all;
          font-size: 1.8rem;

          @include rwd(medium) {
            font-size: 1.4rem;
          }
        }

        >.submit_button {
          position: absolute;
          border-radius: 5px;
          background-color: #007552;
          color: white;
          padding: 0px 20px;
          right: 30px;
          bottom: 10px;
          line-height: 2.3;
        }

        >.btn {
          font-family: myFont;
          font-size: 1.6rem;

          float: right;
          border: none;
          margin-top: 20px;
          display: block;
          border-radius: 5px;
          background-color: #007552;
          color: white;
          width: 80px;
          line-height: 2.3;
          cursor: pointer;

          @include rwd(medium) {
            font-size: 1.4rem;
            width: 50px;
          }

          &:hover {
            background-color: #fca87c;
            color: #fbf8ef;
          }
        }
      }
    }
  }
}