div.product {
  display: block;
  color: #666;
  background-color: #fbf8ef;
  height: 100%;
  width: calc(100% - 250px);
  box-sizing: border-box;
  padding: 60px 40px;
  float: right;
  @include rwd(medium) {
    width: 100%;
  }

  @include rwd(small) {
    width: 100%;
    padding: 10% 5%;
  }

  .product_right_head {
    color: #f7c845;
    font-size: 3rem;

    > .product_right_head_text {
      span.new {
        margin-left: 10px;
        color: #FFA978;
        font-size: 20px;
      }
    }
  }

  .product_right_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;

    @include rwd(medium) {
      display: block;
      width: 100%;
      padding-top: 10%;
    }

    > .bottom_form {
      display: inline-block;
      border: 1px solid #666;
      width: 500px;

      @include rwd(small) {
        width: 320px;
        font-size: 1.4rem;
      }

      > .person_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        width: 150px;
        height: 920px;
        padding-top: 50px;
        @include rwd(small) {
          width: 100px;
          height: 900px;
        }
        > ul {
          > li {
            padding-bottom: 50px;
            font-size: 1.6rem;
            color: #333;

            @include rwd(small) {
              font-size: 1.4rem;
            }
          }
          li:nth-child(4) {
            padding-bottom: 80px;
          }
          li:nth-child(5) {
            padding-bottom: 80px;
          }
          li:nth-child(7) {
            padding-bottom: 210px;
          }
        }

        > .cancel {
          display: inline-block;
          border-radius: 10px;
          background-color: #007552;
          color: white;
          padding: 0px 20px;
          margin-right: 20px;

          &:hover {
            background-color: #62b45a;
          }
        }

        > .correct {
          display: inline-block;
          border-radius: 10px;
          background-color: #007552;
          color: white;
          padding: 0px 20px;
        }
      }
      > .person_right {
        display: inline-block;
        text-align: left;
        position: relative;
        background-color: white;
        box-sizing: border-box;
        padding: 50px;
        height: 970px;
        width: 350px;
        @include rwd(small) {
          width: 220px;
          padding: 20px 10px;
          height: 950px;
        }

        p {
          padding-bottom: 45px;
          @include rwd(small) {
            padding-top: 29px;
            padding-bottom: 47px;
          }
        }

        #productName {
          margin-bottom: 43px;
          display: block;
        }

        #productPrice {
          margin-bottom: 45px;
          width: 50px;
          @include rwd(small) {
            margin-bottom: 47px;
          }
        }

        label {
          padding-bottom: 19px;
          display: block;
          cursor: pointer;
          @include rwd(small) {
            padding-bottom: 38px;
          }
          span {
            background-color: #007552;
            color: #fbf8ef;
            border-radius: 5px;
            border: 1px solid #007552;
            padding: 2px 5px;
          }
          #productMainPic {
            display: none;
          }
          #productOtherPic {
            display: none;
          }
          div {
            img {
              width: 50px;
              height: 50px;
              margin-top: 10px;
              margin-left: 10px;
              @include rwd(small) {
                width: 30px;
                height: 30px;
              }
            }
          }
        }

        #productTags {
          margin-bottom: 45px;
          @include rwd(small) {
            margin-bottom: 12px;
          }
        }

        #productContent {
          display: block;
          width: 95%;
          height: 150px;
          margin-top: 70px;
          @include rwd(small) {
            margin-top: 32px;
            height: 180px;
          }
        }

        #productInfo {
          display: block;
          width: 95%;
          height: 150px;

          @include rwd(small) {
            margin-top: 32px;
            height: 180px;
          }
        }

        .submit_button {
          text-align: right;
          padding-top: 20px;
          font-size: 1.6rem;
          @include rwd(small) {
            font-size: 1.4rem;
          }
          #productCancel {
            border: 1px solid #007552;
            background-color: #fbf8ef;
            padding: 2px 5px;
            color: #007552;
            border-radius: 5px;
            margin-right: 20px;
            @include rwd(small) {
              margin-right: 10px;
            }
          }
          #productSubmit {
            border: 1px solid #007552;
            background-color: #007552;
            padding: 2px 8px;
            color: #fbf8ef;
            border-radius: 5px;
            margin-right: 20px;
            @include rwd(small) {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}
