div.Registered {
  display: block;
  color: #007552;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  float: right;
  box-sizing: border-box;
  padding: 60px 40px;

  @include rwd(medium) {
    width: 100%;
  }

  @include rwd(small) {
    float: none;
    width: 100%;
    padding: 10% 5%;
  }

  > .Registered_head {
    color: #f7c845;
    font-size: 3rem;
  }

  > .Registered_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;

    @include rwd(medium) {
      display: block;
      width: 100%;
      padding-top: 10%;
    }

    > .bottom_form {
      display: inline-block;
      width: 490px;
      border: 1px solid #666;

      @include rwd(small) {
        width: 300px;
      }

      > .Registered_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        box-sizing: border-box;
        width: 150px;
        height: 600px;
        padding-top: 50px;
        line-height: 3.3;
        @include rwd(small) {
          width: 100px;
          height: 500px;
        }

        > ul {
          > li {
            font-size: 1.8rem;
            color: #666;

            @include rwd(small) {
              font-size: 1.4rem;
              line-height: 3;
            }
          }
        }
      }

      > .Registered_right {
        display: inline-block;
        text-align: start;

        background-color: white;
        box-sizing: border-box;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        height: 600px;
        line-height: 3.3;

        @include rwd(medium) {
          width: 340px;
        }

        @include rwd(small) {
          height: 500px;
          width: 200px;
          line-height: 3;
        }

        span {
          display: block;

          @include rwd(small) {
            font-size: 1.4rem;
          }

          p {
            overflow: hidden;
            padding: 0;
          }
        }

        input {
          font-size: 1.8rem;
          width: 100%;
          margin: 0;
          padding: 0;

          @include rwd(small) {
            font-size: 1.4rem;
          }
        }

        > .submit_button {
          margin-top: 20px;
          display: block;
          border-radius: 5px;
          background-color: #007552;
          color: white;
          padding: 0px 20px;
          line-height: 2.3;
          float: right;
          cursor: pointer;
          font-size: 1.6rem;

          @include rwd(small) {
            font-size: 1.4rem;
          }

          &:hover {
            background-color: #fca87c;
            color: #fbf8ef;
            border: none;
          }
        }
      }
    }
  }
}
