div.farminfo {
  display: block;
  color: #007552;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  box-sizing: border-box;
  padding: 60px 40px;
  float: right;

  @include rwd(medium) {
    float: right;
    width: calc(100% - 200px);
  }

  @include rwd(small) {
    float: none;
    width: 100vw;
    padding: 10% 5%;
  }

  .farminfo_head {
    color: #f7c845;
    font-size: 3rem;
  }

  .farminfo_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;

    @include rwd(medium) {
      display: block;
      width: 100%;
      padding-top: 10%;
    }

    // > .top_card {
    //   display: inline-block;
    //   border: 3px solid #007552;
    //   box-shadow: 5px 5px #007552;
    //   background-color: white;
    //   text-align: start;
    //   width: 660px;
    //   height: 360px;
    //   margin: auto;
    //   background-image: url(../assets/membercard3.png);
    //   background-position: center bottom;
    //   background-repeat: no-repeat;
    //   background-size: 690px;
    //   overflow: hidden;

    //   @include rwd(medium) {
    //     width: 610px;
    //     height: 360px;
    //   }

    //   @include rwd(small) {
    //     width: 480px;
    //     height: 360px;
    //   }

    //   @include rwd(mobile) {
    //     width: 330px;
    //     height: 577px;
    //   }

    //   > .card {
    //     display: block;
    //     padding-top: 20px;
    //     padding-right: 40px;
    //     padding-left: 40px;

    //     > .up {
    //       display: inline-block;
    //       vertical-align: top;
    //       margin-bottom: 20px;

    //       > .imgbox {
    //         display: inline-block;
    //         width: 100px;
    //         height: 100px;
    //         margin-right: 20px;

    //         > img {
    //           width: 100%;
    //           height: 100%;
    //         }
    //       }

    //       > .uptext {
    //         display: inline-block;
    //         text-align: start;
    //         line-height: 2;
    //         vertical-align: top;

    //         > .underline {
    //           border-bottom: 1px solid #007552;
    //           width: 200px;
    //           height: 26px;
    //         }
    //       }
    //     }

    //     > .down {
    //       display: inline-block;

    //       > .downtext {
    //         > p {
    //           line-height: 2;
    //         }
    //       }
    //     }
    //   }
    // }

    > .bottom_form {
      display: inline-block;
      width: 490px;
      border: 1px solid #666;

      @include rwd(small) {
        width: 287px;
      }

      > .person_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        width: 150px;
        height: 450px;
        padding-top: 50px;
        line-height: 2;

        @include rwd(small) {
          width: 30%;
          height: 400px;
        }

        > ul {
          > li {
            font-size: 1.8rem;
            color: #666;
            line-height: 3.3;
            @include rwd(small) {
              font-size: 1.4rem;
              line-height: 3.5;
            }
          }
        }
      }

      > .person_right {
        display: inline-block;
        text-align: start;
        background-color: white;
        box-sizing: border-box;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        height: 500px;
        line-height: 3.3;

        @include rwd(medium) {
          width: 340px;
        }
        @include rwd(small) {
          width: 70%;
          height: 450px;
          line-height: 3.5;
        }

        > p {
          overflow: hidden;
          padding: 0;
          @include rwd(small) {
            font-size: 1.4rem;
          }
        }
        > .submit_button {
          position: absolute;
          border-radius: 5px;
          background-color: #007552;
          color: white;
          padding: 0px 20px;
          right: 30px;
          bottom: 10px;
          line-height: 2.3;
        }
      }
    }
  }
}
