div.farmupdate {
  display: block;
  color: #666;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  float: right;
  box-sizing: border-box;
  padding: 60px 40px;
  @include rwd(medium) {
    width: 100%;
  }

  @include rwd(small) {
    float: none;
    width: 100%;
    padding: 10% 5%;
  }

  .farmupdate_head {
    color: #f7c845;
    font-size: 3rem;
  }

  .farmupdate_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    @include rwd(medium) {
      display: block;
      width: 100%;
      padding-top: 10%;
    }

    // > .top_card {
    //   display: inline-block;
    //   border: 3px solid #007552;
    //   box-shadow: 5px 5px #007552;
    //   background-color: white;
    //   text-align: start;
    //   width: 660px;
    //   height: 360px;
    //   margin: auto;
    //   background-image: url(../assets/membercard3.png);
    //   background-position: center bottom;
    //   background-repeat: no-repeat;
    //   background-size: 690px;
    //   overflow: hidden;

    //   @include rwd(medium) {
    //     width: 610px;
    //     height: 360px;
    //   }

    //   @include rwd(small) {
    //     width: 480px;
    //     height: 360px;
    //   }

    //   @include rwd(mobile) {
    //     width: 330px;
    //     height: 577px;
    //   }

    //   > .card {
    //     display: block;
    //     padding-top: 20px;
    //     padding-right: 40px;
    //     padding-left: 40px;

    //     > .up {
    //       display: inline-block;
    //       vertical-align: top;
    //       margin-bottom: 20px;

    //       > .imgbox {
    //         display: inline-block;
    //         width: 100px;
    //         height: 100px;
    //         margin-right: 20px;

    //         > img {
    //           width: 100%;
    //           height: 100%;
    //         }
    //       }

    //       > .uptext {
    //         display: inline-block;
    //         text-align: start;
    //         line-height: 2;
    //         vertical-align: top;

    //         > .underline {
    //           border-bottom: 1px solid #007552;
    //           width: 200px;
    //           height: 26px;
    //         }
    //       }
    //     }

    //     > .down {
    //       display: inline-block;

    //       > .downtext {
    //         > p {
    //           line-height: 2;
    //         }
    //       }
    //     }
    //   }
    // }

    > .bottom_form {
      display: inline-block;
      border: 1px solid #666;
      width: 490px;
      @include rwd(small) {
        line-height: normal;
        width: 352px;
      }

      > .person_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        width: 150px;
        height: 620px;
        padding-top: 10px;
        @include rwd(small) {
          width: 30%;
          height: 520px;
        }

        > ul {
          > li {
            font-size: 1.6rem;
            color: #333;
            line-height: 3.3;
            @include rwd(small) {
              font-size: 1.4rem;
              line-height: 3;
            }
          }
        }
      }

      > .person_right {
        display: inline-block;
        text-align: start;
        background-color: white;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        height: 630px;
        line-height: 3.3;

        @include rwd(medium) {
          width: 340px;
        }
        @include rwd(small) {
          font-size: 1.4rem;
          width: 70%;
          height: 530px;
          line-height: 3;
        }

        textarea {
          margin-top: 20px;
          width: 215px;
          height: 70px;
          resize: none;
          @include rwd(small) {
            margin-top: 17px;
            width: 170px;
          }
        }

        > .submit_button {
          text-align: center;
          float: right;
          border: none;
          margin-top: 30px;
          margin-left: 10px;
          display: block;
          border-radius: 5px;
          background-color: #007552;
          color: white;
          width: 80px;
          line-height: 2.3;
          cursor: pointer;
          font-size: 1.6rem;

          @include rwd(small) {
            margin-top: 20px;
            font-size: 1.4rem;
            width: 50px;
          }

          &:hover {
            background-color: #fca87c;
            color: #fbf8ef;
          }
        }
      }
    }
  }
}
