div.information {
  display: block;
  color: #666;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  float: right;
  box-sizing: border-box;
  padding: 60px 40px;

  @include rwd(medium) {
    width: 100%;
  }

  @include rwd(small) {
    width: 100%;
    padding: 10% 5%;
  }

  > .information_head {
    color: #f7c845;
    font-size: 3rem;
  }

  > .information_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;

    @include rwd(medium) {
      display: block;
      width: 100%;
      padding-top: 10%;
    }

    > .bottom_form {
      display: inline-block;
      width: 490px;
      border: 1px solid #666;

      @include rwd(medium) {
        width: 320px;
      }

      > .person_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        width: 150px;
        height: 500px;
        padding-top: 10px;
        line-height: 3.3;

        @include rwd(medium) {
          width: 100px;
          height: 380px;
        }

        > ul {
          > li {
            font-size: 1.8rem;
            color: #333;

            @include rwd(medium) {
              font-size: 1.4rem;
              line-height: 3;
            }
          }
        }
      }

      > .information_right {
        display: inline-block;
        text-align: start;
        background-color: white;
        box-sizing: border-box;
        padding-top: 10px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        height: 510px;
        line-height: 3.3;

        @include rwd(medium) {
          width: 70%;
          height: 390px;
          width: 220px;
          line-height: 3;
          padding-left: 10px;
          padding-right: 10px;
        }

        > ul {
          > li {
            font-size: 1.8rem;

            @include rwd(medium) {
              font-size: 1.4rem;
            }
          }
        }

        // span {
        //   p {
        //     @include rwd(medium) {
        //       font-size: 1.4rem;
        //     }
        //   }
        // }

        > .btn {
          font-family: myFont;
          font-size: 1.6rem;
          float: right;
          border: none;
          margin-top: 20px;
          display: block;
          border-radius: 5px;
          background-color: #007552;
          color: white;
          width: 80px;
          line-height: 2.3;
          cursor: pointer;

          @include rwd(medium) {
            font-size: 1.4rem;
            width: 50px;
          }

          &:hover {
            background-color: #fca87c;
            color: #fbf8ef;
          }
        }
      }
    }
  }
}
