div.information {
  display: block;
  color: #007552;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  float: right;
  box-sizing: border-box;
  padding: 60px 40px;

  @include rwd(medium) {
    width: calc(100% - 200px);
  }

  @include rwd(small) {
    float: none;
    width: 100%;
    padding: 10% 5%;
  }

  > .information_head {
    color: #f7c845;
    font-size: 3rem;
  }

  > .information_bottom {
    display: block;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;

    @include rwd(medium) {
      display: block;
      width: 100%;
      padding-top: 10%;
    }

    > .bottom_form {
      display: inline-block;
      width: 490px;
      border: 1px solid #666;

      @include rwd(small) {
        line-height: normal;
        width: 287px;
      }

      > .person_left {
        vertical-align: top;
        display: inline-block;
        background-color: #f7c845;
        width: 150px;
        height: 500px;
        padding-top: 50px;
        line-height: 3.3;
        @include rwd(small) {
          width: 30%;
          height: 400px;
        }

        > ul {
          > li {
            font-size: 1.8rem;
            color: #666;

            @include rwd(small) {
              font-size: 1.4rem;
              line-height: 3;
            }
          }
        }
      }

      > .information_right {
        display: inline-block;
        text-align: start;
        background-color: white;
        box-sizing: border-box;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        width: 340px;
        height: 550px;
        line-height: 3.3;

        @include rwd(medium) {
          width: 340px;
        }
        @include rwd(small) {
          width: 70%;
          height: 450px;
        }

        span {
          display: block;

          @include rwd(small) {
            line-height: 3;
          }

          p {
            overflow: hidden;
            padding: 0;
            @include rwd(small) {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
