.shopping {
  display: block;
  float: right;
  width: calc(100% - 250px);
  box-sizing: border-box;
  padding: 60px 40px;

  @include rwd(medium) {
    width: 100%;
  }

  @include rwd(small) {
    padding: 60px 10px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;

    height: 100%;

    .form {
      flex-grow: 1;
      padding: 0 5%;

      .form-content {
        display: flex;
        flex-direction: column;

        height: 100%;

        box-sizing: border-box;

        .seller {
          font-size: 2rem;
          line-height: 2;
          margin-top: 20px;
          text-align: center;
          color: $min-color;
        }

        .title {
          margin-top: 1.6rem;

          font-size: 1.6rem;
          line-height: 2;
        }

        .tr {
          display: flex;
          align-items: center;

          height: 75px;
          line-height: 75px;

          &.head-bar {
            height: 32px;
            line-height: 32px;
            background: $orange-light;
          }

          .td {
            height: 100%;
            font-size: 1.6rem;

            text-align: center;

            box-sizing: border-box;

            @include rwd(medium) {
              font-size: 1.4rem;
            }

            @include rwd(small) {
              font-size: 1.2rem;
            }

            &.check-box {
              width: 5%;

              @include rwd(medium) {
                width: 10%;
              }
            }

            &.img {
              width: 150px;

              @include rwd(medium) {
                display: none;
              }

              img {
                width: 100%;
              }
            }

            &.name {
              flex: 1;
            }

            &.price {
              width: 100px;

              @include rwd(medium) {
                width: 15%;
              }
            }

            &.subtotal {
              width: 100px;

              @include rwd(medium) {
                width: 20%;
              }
            }

            &.operating {
              width: 150px;

              @include rwd(medium) {
                width: 15%;
              }
            }

            &.amount {
              width: 75px;

              @include rwd(medium) {
                width: 20%;
              }

              .input {
                display: flex;
                align-items: center;

                padding: 20px 10px;

                height: 100%;

                box-sizing: border-box;

                input {
                  flex-grow: 1;

                  margin: 0;
                  padding: 0;

                  height: 100%;
                  width: 35px;

                  text-align: center;

                  border-top: 1px solid $min-color;
                  border-left: 1px solid $min-color;
                  border-bottom: 1px solid $min-color;
                  border-right: 0px;
                  box-sizing: border-box;

                  &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                  }
                }

                .button {
                  display: flex;
                  flex-direction: column;

                  padding: 0;
                  margin: 0;

                  height: 100%;

                  box-sizing: border-box;

                  button {
                    padding: 0px;
                    margin: 0px;

                    height: 50%;
                    width: 20px;

                    background: transparent;
                    border: 1px solid $min-color;

                    box-sizing: border-box;

                    &:nth-child(2) {
                      font-size: 1.5rem;
                      line-height: 0;
                    }
                  }
                }
              }
            }

            img {
              max-width: 100px;
            }
          }
        }

        >.box {

          >.btn {
            float: right;
            height: 40px;
            line-height: 40px;
            width: 120px;
            text-align: center;
            text-decoration: none;
            font-size: 1.6rem;
            color: black;
            border: 1px solid $min-color;
            background: rgba($orange, 0.75);
          }
        }


        .total {
          font-size: 1.6rem;
          line-height: 2;

          text-align: right;
        }
      }
    }
  }
}