div.Order {
  display: block;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  float: right;
  box-sizing: border-box;
  padding: 60px 40px;
  @include rwd(medium) {
    width: calc(100% - 200px);
  }

  @include rwd(small) {
    float: none;
    width: 100%;
    padding: 10% 5%;
  }

  .Order_head {
    color: #f7c845;
    font-size: 3rem;
  }

  .order_zero {
    font-size: 2rem;
    color: #007552;
    text-align: center;
    margin-top: 100px;
    display: none;
  }

  .Order_bottom {
    display: block;
    text-align: center;
    margin: 0 auto;

    > .Orderlist {
      margin: 0 auto;
      margin-top: 50px;
      line-height: 2;
      @include rwd(large) {
        margin-top: 40px;
        margin-left: 0;
        line-height: 2;
      }
      @include rwd(small) {
        margin-left: 0px;
      }

      @include rwd(mobile) {
        margin-top: 40px;
        margin-left: 0;
        line-height: 2;
        padding-left: 0px;
      }

      > .list_1 {
        display: inline-block;
        border: 2px solid #f7c845;
        background-color: white;
        text-align: start;
        width: 768px;
        height: 100%;
        font-size: 17px;
        transition: 0.5s ease;

        @include rwd(large) {
          width: 700px;
        }
        @include rwd(medium) {
          width: 700px;
          height: auto;
        }

        @include rwd(small) {
          width: 620px;
          height: auto;
        }

        @include rwd(mobile) {
          width: 280px;
          height: auto;
          padding: 0 5px;
        }

        > .memberorder {
          display: flex;
          flex-direction: column;
          width: 100%;
          width: 94%;
          margin: 0 auto;
          text-align: center;
          border: 1px solid #f7c845;
          @include rwd(mobile) {
            width: 100%;
          }
          .orderheader {
            display: flex;
            background: #f7c845;
          }

          .orderTab {
            width: 100%;
            td {
              width: 20%;
              padding: 5px 0;
              text-align: center;
              background: #fff;
              @include rwd(mobile) {
                font-size: 13px;
              }
            }
          }
          th {
            width: 25%;
            padding: 10px 0;
            text-align: center;
            @include rwd(mobile) {
              font-size: 13px;
            }
          }
        }

        .listnum,
        .list_slide {
          > p {
            padding-left: 10px;
            color: #007552;
          }
        }

        > .list_slide {
          margin-left: 10px;

          > img {
            margin-right: 5px;
            transition: 0.5s ease;
          }
        }

        > .slide {
          display: block;

          > .OrderDetail {
            display: flex;
            flex-direction: column;
            width: 94%;
            margin-left: 20px;
            text-align: center;
            border: 1px solid #f7c845;

            @include rwd(mobile) {
              width: 100%;
              margin-left: 0px;
            }
            .detailheader {
              display: flex;
              background: #f7c845;
            }
            .detailcontent {
              display: flex;
              height: 80%;
              margin-top: 0;
              background: #fff;
            }
            .orderTab {
              width: 100%;
              td {
                width: 20%;
                padding: 10px 0;
                text-align: center;
                background: #fff;
                @include rwd(mobile) {
                  font-size: 13px;
                }
              }
              th {
                width: 20%;
                padding: 15px 0;
                text-align: center;
                @include rwd(mobile) {
                  font-size: 13px;
                }
              }
            }
          }
        }

        // > .display {
        //   display: none;
        // }

        .total {
          display: block;
          background-color: #ffd3c1;
          margin: 20px 20px;
          @include rwd(mobile) {
            margin: 20px 10px;
          }
          > p {
            text-align: end;
            padding-right: 10px;
            color: #007552;
          }

          > p:first-child {
            padding-top: 10px;
          }

          > p:last-child {
            padding-bottom: 10px;
            color: #cc113c;
          }
        }

        .address {
          display: block;
          background-color: #ffd3c1;
          margin: 20px 20px;
          @include rwd(mobile) {
            margin: 20px 10px;
          }
          > .address_left {
            display: inline-block;

            > p {
              padding-left: 10px;
              color: #007552;
            }
          }

          > .address_right {
            display: inline-block;

            > p {
              padding-left: 10px;

              > span {
                color: #cc113c;
              }
            }
          }
        }

        .Evaluation {
          display: block;
          background-color: #dce07a;
          margin: 20px 20px;
          padding: 10px;
          @include rwd(mobile) {
            margin: 20px 10px;
          }
          > .star {
            display: block;
            background-color: #fbf8ef;
            margin: 10px 30px;
            text-align: start;

            @include rwd(mobile) {
              margin: 5px 20px;
            }

            > .Evaluation_submit {
              text-align: end;

              > .starSend {
                border: 0;
                cursor: pointer;
                display: inline-block;
                margin-top: 30px;
                margin-right: 10px;
                margin-bottom: 10px;
                padding: 5px 10px;
                background-color: #007552;
                border-radius: 5px;
                color: white;
              }

              > p:hover {
                background-color: #62b45a;
                color: white;
              }
            }

            > .starimg {
              display: inline-block;
              padding-top: 30px;

              > img {
                object-fit: cover;
                width: 40px;
              }
            }
          }
        }
      }
    }

    .pagination_block {
      display: inline-block;
      margin: 0 auto;
      margin-top: 50px;

      @include rwd(large) {
        margin-left: 10px;
      }
      @include rwd(small) {
        margin-left: 0px;
      }
      @include rwd(mobile) {
        display: inline-block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0;
        padding-left: 2px;
      }

      > ul.pagination {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;

        & > li:first-child {
          display: inline-block;
          margin-right: 10px;
          background-color: #007552;
          color: white;
        }

        & > li:last-child {
          border-right: 1px solid #007552;
          margin-left: 10px;
          background-color: #007552;
          color: white;
        }

        > li {
          display: inline-block;
          cursor: pointer;
          border: 1px solid #007552;
          background-color: white;
          text-align: center;
          padding: 5px 10px;

          font-size: 1.8rem;
          color: black;
          @include rwd(mobile) {
            padding: 5px 6px;
          }

          &:hover {
            background-color: #ffd3c1;
            color: #007552;
          }
          &.-on {
            background-color: #ffd3c1;
            color: #007552;
          }
        }
      }
    }
  }
}
