div.track {
  display: inline-block;
  background-color: #fbf8ef;
  width: calc(100% - 250px);
  height: 100vh;
  vertical-align: top;
  box-sizing: border-box;
  padding: 60px 40px;
  padding-left: 11px;
  @include rwd(medium) {
    float: right;
    width: calc(100% - 200px);
  }

  @include rwd(small) {
    float: none;
    width: 100vw;
    padding: 10% 5%;
  }
  .track_head {
    color: #F7C845;
    font-size: 3rem;
  }

  .track_bottom {
    display: block;
    text-align: center;
    padding-left: 29px;
    margin: 0 auto;
    @include rwd(medium){
      display: block;
      width: 100%;
      padding-top: 10%;
    }
    >.trackcard {
      display: inline-block;
      margin-top: 40px;
      line-height: 2;

      >.cardfront {
        border: 3px solid #007552;
        background-color: white;
        box-shadow: 10px -9px #007552;
        width: 260px;
        margin-right: 120px;
        font-size: 17px;
        
        @include rwd(large) {
          width: 260px;
          margin-right: 40px;
          font-size: 17px;
        }

        @include rwd(medium) {
          width: 240px;
          margin-right: 110px;
          margin-left: 30px;
          font-size: 16px;
        }

        @include rwd(mobile) {
          width: 260px;
          margin-right: 0px;
          margin-left: 0px;
          font-size: 17px;
        }

        >.front_top {
          >.closeimg {
            width: 30px;
            height: 30px;
            position: relative;
            top: 10px;
            left: 80%;

            >.img {
              width: 100%;
              height: 100%;
            }
          }

          >.frontimg {
            width: 70px;
            height: 70px;
            padding: 30px;
            padding-bottom: 0;
            margin: 0 auto;
            text-align: center;

            >img {
              width: 100%;
              height: 100%;
            }
          }

          >.star {
            display: block;

            >.starimg {
              display: inline-block;
              width: 10px;
              height: 10px;

              >img {
                width: 100%;
                height: 100%;
              }
            }

            >span {
              color: #007552;
            }
          }
        }

        >.front_bottom {
          display: inline-block;
          text-align: start;
          margin-bottom: 20%;
          padding: 5px 9px 0px 9px;
          .frontbutton{
            display: block;
            text-align: center;
            >.track_button{
              display: inline-block;
              border-radius: 5px;
              padding: 0 5px;
              background-color: #007552;
              color: white;
              cursor: pointer;
              margin-right: 5px;
              &:hover{
                background-color: #fca87c;
              }
            }
            >.track_button2{
              display: inline-block;
              border-radius: 5px;
              padding: 0 5px;
              background-color: #007552;
              color: white;
              cursor: pointer;
              margin-left: 5px;
              &:hover{
                background-color: #fca87c;
              }
            }
          }

        }

        

        // >.cardinfo{
        //   display: block;
        //   border: 3px solid #F7C845;
        //   background-color: white;
        //   >.top{
        //     display: inline-block;
        //     text-align: start;
        //     >.imgbox{
        //       display: inline-block;
        //       width: 50px;
        //       height: 50px;
        //       >img{
        //         width: 100%;
        //         height: 100%;
        //       }
        //     }
        //   }
        // }
      }

    }

    .pagination_block {
      display: inline-block;
      margin-top: 30px;
      margin-bottom: 20px;

      >ul.pagination {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;

        @include rwd(mobile) {
          margin-left: 20px;
        }

        >li {
          display: inline-block;

          >a {
            display: inline-block;
            text-decoration: none;

            border: 1px solid #007552;
            /* 留意 */
            /* 留意：將全部的右邊框都移除 */

            text-align: center;
            padding: 5px 10px;
            font-size: 1rem;
            color: black;

            @include rwd(mobile) {
              padding: 5px 6px;
            }
          }

          >a.-on {
            background-color: #FFD3C1;
            color: #007552;
          }

          >a:hover {
            background-color: #FFD3C1;
            color: #007552;
          }
        }

        >li:first-child>a {
          display: inline-block;
          margin-right: 10px;
          background-color: #007552;
          color: white;
        }

        >li:first-child>a:hover {
          background-color: #007552;
          color: white;
        }

        >li:last-child>a {
          border-right: 1px solid #007552;
          margin-left: 10px;
          background-color: #007552;
          color: white;
        }

        >li:last-child>a:hover {
          background-color: #007552;
          color: white;
        }
      }
    }

  }
}

// div.Order>.Order_bottom>.Orderlist>.list_1>span.triangle{
//     display: inline-block;
//     // border: 10px solid red;
//     border-left: 50px solid blue transparent;
//     border-right: 50px solid red transparent;
//     border-top: 50px solid #007552;
//     border-bottom: 0px solid black;
//     width: 0px;
//     height: 0px;
// }


/* 留意: 將最後一個 li 裡的 a，右邊框加回來 */
/* 留意: 將最後一個 li 裡的 a，加上圓角 */

/* 留意: 將第一個 li 裡的 a，加上圓角 */